@import "bootstrap";

/* mixins, variables, etc. */

$grayMediumLight: #eaeaea;

@mixin box_sizing {
  -moz-box-sizing: border-box; 
  -webkit-box-sizing: border-box; 
  box-sizing: border-box;
}

/* GENERATED */

.page-header {
  border-bottom: 1pxpx solid #eeeeee;
}

hr {
  border-top: 1px solid #e5e5e5;
  border-bottom: 1px solid #ffffff;
}

select,
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
  background-color: #fffdfd;
  padding: 4px 4px 4px 4px;
  font-size: 13.5px;
  color: #333333;
  border: 1px solid #ccc;
}

.well {
  background-color: #f7f2f2;
}

.btn {
  color: #939292;
  background-image: -moz-linear-gradient(top, #e3f7ee, #f7f4fc);
  background-image: -ms-linear-gradient(top, #e3f7ee, #f7f4fc);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#e3f7ee), to(#f7f4fc));
  background-image: -webkit-linear-gradient(top, #e3f7ee, #f7f4fc);
  background-image: -o-linear-gradient(top, #e3f7ee, #f7f4fc);
  background-image: linear-gradient(top, #e3f7ee, #f7f4fc);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#'e3f7ee, endColorstr='#'f7f4fc, GradientType=0);
}

.btn:hover,
.btn:active,
.btn.active,
.btn.disabled,
.btn[disabled] {
  color: #939292;
  background-color: #f7f4fc;
}

.btn-primary {
  background-color: #006dcc;
  color: #ffffff;
  background-image: -moz-linear-gradient(top, #90ceac, #b8efc5);
  background-image: -ms-linear-gradient(top, #90ceac, #b8efc5);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#90ceac), to(#b8efc5));
  background-image: -webkit-linear-gradient(top, #90ceac, #b8efc5);
  background-image: -o-linear-gradient(top, #90ceac, #b8efc5);
  background-image: linear-gradient(top, #90ceac, #b8efc5);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#'90ceac, endColorstr='#'b8efc5, GradientType=0);
}

.btn-primary:hover,
.btn-primary:active,
.btn-primary.active,
.btn-primary.disabled,
.btn-primary[disabled] {
  background-color: #b8efc5;
}

.btn-warning {
  color: #ffffff;
  background-image: -moz-linear-gradient(top, #fcb858, #f7bf27);
  background-image: -ms-linear-gradient(top, #fcb858, #f7bf27);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fcb858), to(#f7bf27));
  background-image: -webkit-linear-gradient(top, #fcb858, #f7bf27);
  background-image: -o-linear-gradient(top, #fcb858, #f7bf27);
  background-image: linear-gradient(top, #fcb858, #f7bf27);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#'fcb858, endColorstr='#'f7bf27, GradientType=0);
}

.btn-warning:hover,
.btn-warning:active,
.btn-warning.active,
.btn-warning.disabled,
.btn-warning[disabled] {
  background-color: #f7bf27;
}

.btn-danger {
  color: #ffffff;
  background-image: -moz-linear-gradient(top, #f48f8d, #bd362f);
  background-image: -ms-linear-gradient(top, #f48f8d, #bd362f);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f48f8d), to(#bd362f));
  background-image: -webkit-linear-gradient(top, #f48f8d, #bd362f);
  background-image: -o-linear-gradient(top, #f48f8d, #bd362f);
  background-image: linear-gradient(top, #f48f8d, #bd362f);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#'f48f8d, endColorstr='#'bd362f, GradientType=0);
}

.btn-danger:hover,
.btn-danger:active,
.btn-danger.active,
.btn-danger.disabled,
.btn-danger[disabled] {
  background-color: #bd362f}

.btn-success {
  color: #ffffff;
  background-image: -moz-linear-gradient(top, #62c462, #6fce6f);
  background-image: -ms-linear-gradient(top, #62c462, #6fce6f);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#62c462), to(#6fce6f));
  background-image: -webkit-linear-gradient(top, #62c462, #6fce6f);
  background-image: -o-linear-gradient(top, #62c462, #6fce6f);
  background-image: linear-gradient(top, #62c462, #6fce6f);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#'62c462, endColorstr='#'6fce6f, GradientType=0);
}
.btn-success:hover,
.btn-success:active,
.btn-success.active,
.btn-success.disabled,
.btn-success[disabled] {
  background-color: #6fce6f;
}

.btn-info {
  color: #ffffff;
  background-image: -moz-linear-gradient(top, #5acded, #2f96b4);
  background-image: -ms-linear-gradient(top, #5acded, #2f96b4);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#5acded), to(#2f96b4));
  background-image: -webkit-linear-gradient(top, #5acded, #2f96b4);
  background-image: -o-linear-gradient(top, #5acded, #2f96b4);
  background-image: linear-gradient(top, #5acded, #2f96b4);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#'5acded, endColorstr='#'2f96b4, GradientType=0);
}
.btn-info:hover,
.btn-info:active,
.btn-info.active,
.btn-info.disabled,
.btn-info[disabled] {
  background-color: #2f96b4;
}

.alert {
  padding: 8px 35px 8px 14px;
  background-color: #f9efbb;
  border: 1px solid #fbeed5;
}

.alert-success {
  background-color: #dff0d8;
  border-color: #d6e9c6;
}
.alert-success, .alert-success .alert-heading {
  color: #468847;
}
.alert-danger, .alert-error {
  background-color: #f2dede;
  border-color: #eed3d7;
}
.alert-danger,
.alert-error,
.alert-danger .alert-heading,
.alert-error .alert-heading {
  color: #b94a48;
}
.alert-info {
  background-color: #d9edf7;
  border-color: #bce8f1;
}
.alert-info, .alert-info .alert-heading {
  color: #3a87ad;
}

.navbar-inner {
  background-color: #a3cec5;
  background-image: -moz-linear-gradient(top, #a3cec5, #ffffff);
  background-image: -ms-linear-gradient(top, #a3cec5, #ffffff);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#a3cec5), to(#ffffff));
  background-image: -webkit-linear-gradient(top, #a3cec5, #ffffff);
  background-image: -o-linear-gradient(top, #a3cec5, #ffffff);
  background-image: linear-gradient(top, #a3cec5, #ffffff);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#a3cec5', endColorstr='#ffffff', GradientType=0);
}

.navbar .brand {
  padding: 8px 20px 12px;
  font-size: 20px;
  color: #a39b9b;
}

.navbar .divider-vertical {
  height: 41px;
  background-color: #ffffff;
  border-right: 1px solid #c6c6c6;
}

.navbar .nav > li > a {
  padding: 10px 10px 11px;
  font-size: 14px;
  color: #666666;
}

.navbar .nav > .active > a,
.navbar .nav > .active > a:hover,
.navbar .nav > .active > a:focus {
  color: #424242;
}

.label,
.badge {
  padding: 1px 3px 2px;
  font-size: 9.75px;
  color: #ffffff;
  background-color: #999999;
}

.label-important,
.badge-important {
  background-color: #468847;
}

.label-warning,
.badge-warning {
  background-color: #b94a48;
}

.label-success,
.badge-success {
  background-color: #f89406;
}

.label-info,
.badge-info {
   background-color: #3a87ad;
}

/* universal */

html {
  overflow-y: scroll;
}

body {
  padding-top: 60px;
  margin: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #333333;
  background-color: #ffffff;
}

a {
  color: #a3cec5;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
  color: #494949;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.7em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: $grayLight;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}


/* header */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: white;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  line-height: 1;
  &:hover {
    color: white;
    text-decoration: none;
  }
}

/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid $grayMediumLight;
  color: $grayLight;
  a {
    color: $gray;
    &:hover { 
      color: $grayDarker;
    }
  }  
  small { 
    float: left; 
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 10px;
    }
  }
}

/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

/* sidebar */

aside {
  section {
    padding: 10px 0;
    border-top: 1px solid $grayLighter;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.4em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
    }
  }
}

.gravatar {
  float: left;
  margin-right: 10px;
}

.stats {
  overflow: auto;
  a {
    float: left;
    padding: 0 10px;
    border-left: 1px solid $grayLighter;
    color: gray;
    &:first-child {
      padding-left: 0;
      border: 0;
    }
    &:hover {
      text-decoration: none;
      color: $blue;
    }
  }
  strong {
    display: block;
  }
}

.user_avatars {
  overflow: auto;
  margin-top: 10px;
  .gravatar {
    margin: 1px 1px;
  }
}

/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

#error_explanation {
  color: #f00;
  ul {
    list-style: none;
    margin: 0 0 18px 0;
  }
}

.field_with_errors {
  @extend .control-group;
  @extend .error;
 }

 /* users index */

.users {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-top: 1px solid $grayLighter;
    &:last-child {
      border-bottom: 1px solid $grayLighter;
    }
  }
}

/* microposts */

.microposts {
  list-style: none;
  margin: 10px 0 0 0;

  li {
    padding: 10px 0;
    border-top: 1px solid #e8e8e8;
  }
}
.content {
  display: block;
}
.timestamp {
  color: $grayLight;
}
.gravatar {
  float: left;
  margin-right: 10px;
}
aside {
  textarea {
    height: 100px;
    margin-bottom: 5px;
  }
}